{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Login</h2>
            <hr />
            {% if template_data.error %}
            <div class="alert alert-danger" role="alert">
              {{ template_data.error }}
            </div>
            {% endif %}
            {% if template_data.error == 'The security phrase is incorrect.' %}
            <div class="alert alert-warning" role="alert">
              Incorrect security phrase. Please try again.
            </div>
            {% endif %}
            {% if template_data.security_phrase_ok %}
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-3 text-center">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" id="new_password" name="new_password" class="form-control" required>
              </div>
              <div class="mb-3 text-center">
                <label for="confirm_password" class="form-label">Confirm New Password</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn bg-dark text-white">
                  Reset Password
                </button>
              </div>
            </form>
            {% endif %}
            <form method="POST">
              {% csrf_token %}

              <div class="mb-3 text-center">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
              </div>
              <div class="mb-3 text-center">
                <label for="security_phrase" class="form-label">Security Phrase</label>
                <input type="text" id="security_phrase" name="security_phrase" class="form-control" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn bg-dark text-white">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
